

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	header
	{
		margin-bottom: 2em;
	}
			
		.divider
		{
			margin-top: 6em;
			padding-top: 6em;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6em 0em;
		height:400px;
		
	}
	
	#bannergallery{padding: 6em 0em;
		height:400px;
		
	}
	
	#bannerproduct{padding: 6em 0em;
		height:400px;
		
	}
	
	
	#bannerbeaches{padding: 6em 0em;
		height:400px;
		
	}
	
	
	#bannerhill{padding: 6em 0em;
		height:400px;
		
	}
	
	#bannerEurope{padding: 6em 0em;
		height:400px;
		
	}
	
	
	#bannerjungle{padding: 6em 0em;
		height:400px;
		
	}


	.homepage #banner
	{
		padding: 16em 0em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em;
	}
	
	#sidebar header h2
	{
		font-size: 2em;
	}
	

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer{padding:1em 0em;}
	
	#footer header
	{
		margin-bottom: 3em;
	}
  .footer{color:#E82427; font-size:18px;}
  
  /*********************************************************************************/
/* Download                                                                        */
/*********************************************************************************/
	.download{font-size:24px;
	color:#FD5A5C;}
	:hover.download{color:#FF0004;
	text-decoration:underline;}